

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  display: flex;
  min-height: 100%;
}
.sidebar{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 100%;
  width:94px;
  background-size: cover;
  z-index: 100;
  transition: all 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  border-radius: 0px;
  display: block;
}
.sidebar.inactive{
  width: 0px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  min-width: 94px;
  font-size: 30px;
  text-align: center;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  color: #717171;
}
.sidebar.inactive .logo-details i{
  min-width: 0px;
  font-size: 30px;
  text-align: center;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  color: #717171;
  display: none;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  opacity: 0;
}
.sidebar.inactive .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
  width: 0px;
}
.sidebar .logo-details .toggle-menu-btn{
  color: #666;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.sidebar.inactive .logo-details .toggle-menu-btn{
  right: -50px;
}
.sidebar .nav{
  padding: 10px 0 10px 0;
  overflow: auto;
}

.sidebar .nav::-webkit-scrollbar{
  display: none;
}
.sidebar .nav li{
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav li:hover{
 background: linear-gradient(180deg, #191F2C 0%, #131221 100%);

}

.sidebar .nav li .icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
{/*.sidebar.inactive .nav li .icon{
  display: block
}*/}
.sidebar .nav li i{
  min-width: 94px;
  text-align: center;
  color: #717171;
  cursor: pointer;
  transition: all 0.3s ease;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
}
.sidebar .nav li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.inactive .nav i.arrow{
  display: none;
}
.sidebar .nav li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease; 
   Width:70px;
  Height:39px;
  Top:20px;
  Left:15px;
}
.sidebar.inactive .nav li a .link-name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav li a .link-name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav li .sub-menu{
  padding: 6px 6px 10px 40px;
  margin-top: 0px;
  position: absolute;
  width: 206px;
  height:35px;
  left: 108px;
  top: 107px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  text-transform: capitalize;
  color: #FFFFFF;
  display: none;
  

}
.sidebar.nav .sub-menu  .active{
  max-height: 180px;
}
.sidebar  .nav li .sub-menu a{
  width: 92px;
  left: 100px;
  top: 99px;
  font-weight: 400;
  line-height: 42px;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  color:#FFFFFF;
  font-size: 15px;
  padding: 10px 10px 0px 0px; 
  white-space: nowrap;
  transition: all 0.3s ease;
  font-family: 'Roboto';
}
.sidebar .nav li .sub-menu a:hover{
  opacity: 1;
  
}
.sidebar .nav li .sub-menu{
  opacity: 0;
  display: block;
  pointer-events: none;
  position: absolute;
  width:234px;
  height: 951px;
  left: 94px;
  top: 73px;
  background: #333A48;
}

.sidebar .nav li:hover .sub-menu{
  top: 72px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar.inactive .nav li:hover .sub-menu{
  top: 72px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav li .sub-menu .link-name{
  display: none;
}
.sidebar.inactive .nav li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
}
.sidebar .nav li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
}
.sidebar .nav li .sub-menu.blank{
  pointer-events: auto;
  padding: 10px 20px 6px 85px;
  pointer-events: none;
  position: absolute;
  top: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 298.19%;
  text-transform: capitalize;
  color: #FFFFFF;

  

}
.sidebar .nav li:hover .sub-menu.blank{
  top: 70px;
}
.sidebar .p-del{
  position: fixed;
  bottom: 0;
  width:94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.inactive .p-del{
  background: none;
}
.sidebar .p-del{
  background: none;
}
.sidebar.inactive .p-del{
  width: 94px;
}
.sidebar .p-del{
  width: 94px;
}
.sidebar .p-del .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .p-del img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 25px;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  transition: all 0.5s ease;
  left: 28px;
  top: 948px;
  text-align: center;
  cursor: pointer;
}
.sidebar.inactive .p-del img{
  padding: 10px;
  display: none;
}
.sidebar .p-del img{
  padding: 10px;
}
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.inactive .p-del i,
.sidebar.inactive .p-del .profile_name,
.sidebar.inactive .p-del .job{
  display: none;
}
.sidebar.p-del i,
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  display: none;
}
.sidebar .p-del i,
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  display: none;
}
.sidebar .p-del .job{
  font-size: 12px;
}

@media (max-width: 400px) {

  .sidebar.inactive.small-screen{
    width: 0;
  }

  .sidebar.inactive.small-screen ~ .Container{
    width: 100%;
    left: 0;
    z-index: 100;
  }
  .left{
    margin-left: 94px;
    margin-top: -30px;
    padding-top: 0px;
    cursor: pointer;
    
  }
}
.Container{
  margin-left:94px;
  transition: margin-left .2s ease-in;
  padding: 0px;
  box-sizing: border-box;
}
.Container.inactive{
  margin-left: 0px;
}

.left{
  margin-left: 94px;
  margin-top: -30px;
  padding-top: 0px;
  cursor: pointer;
  
}

.left .inactive{
  margin-left: 0px;
  padding-left: 0px;
}


.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100%;
  left: 200px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 100px;
  width: calc(100% - 100px);
}

.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #1a191b;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

/*navbar*/


  .navbar{
	height: 73px;
	display: flex;
	font-size: 14px; 
	transition: width .2s ease-in;
	align-items: center;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 0px;
	background: #2A3240;
	width: calc(100%-94px);
  margin-left: 14px;
  } 
		.navbar.inactive {
			margin-left: 0px;
			margin-left: -6rem;
			-webkit-transition: margin 0.25s ease-out;
			-moz-transition: margin 0.25s ease-out;
			-o-transition: margin 0.25s ease-out;
			transition: margin 0.25s ease-out;
} 

  .items{
	display: flex;
	align-items: center;
	}
  .item{
	display: flex;
	margin-right: 10px;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-style: 20px;
	color:#726761;
  }
  .items .item{
	color:#726761;
	cursor: pointer;
	width: 24px;
	height: 24px;
	top: px;
	justify-content: space-between;
	left: 60px;
	line-height: 14px;
	gap: 10px;
    }

  .profile_name {
		width: 62px;
		height: 14px;
		left: 1311px;
		top: 21px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
/* identical to box height */
text-transform: capitalize;
color: #FFFFFF;
  }
.mail{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.7);
}

.avatar{
border-radius: 16px;
width: 37.94px;
left: 1260.41px;
top: 17.53px;
}
 .counter{
border-radius: 50%;
box-sizing: border-box;
position: absolute;
left: 59.09%;
right: 9.09%;
top: 0%;
bottom: 68.18%;
background: #E64547;
border: 1px solid #2A3240;
}
.search-controller{
  color: #fff;
  position: relative;
  }
.search-controller .search-btn{
width: 30px;
height: 40px;
position: absolute;
background: transparent;
border: 0;
font-size: 20px;
position: absolute;
margin-left: 0px;
color:#FFFFFF;
position: absolute;
width: 55px;
height: 16px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: rgba(143, 143, 143, 0.48);
}
.search-controller input[type=text]{
border: 0;
display: block;
margin: 2px 0;
padding-left: 100px;
height: 41px;
width: 915px;
left: 114px;
top: 1px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.04);
box-sizing: border-box;
}
@media all and (max-width:1100px){
.navbar{
  flex-direction: column;
  flex-wrap: wrap;
  
}
.navbar .items{
  display: block;
  padding: 10px 0px;
}
.item{
  text-align: center;
  padding: 0;
  display: none;
}
.navbar-nav{
  display: none;
}
.navbar-nav-mobile{
  position: absolute;
  display: block;
  list-style: none;
  background-color: #db2b39;
  left: 0;
  top: 75px;
  transition: all 0.5s ease-out;
  width: 100%;
}
.search-controller{
  align-self: flex-start;
  margin: 0px 0px 0px 0px;
}
.menu{
  display: block;
  position: absolute;
  right: 20px;
  top: 1px;
}
.showmenu{
  display: block;
}
.search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 30px;
  color: #fff;
  border-radius: 05px;
  display: block;
  margin: 10px 0;
  width:100%;
  box-sizing: border-box;
  padding-left: 100px;
}
.search-controller .search-btn{
  width: 10px;
  height: 55px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  margin-left: 0px;
  color:#FFFFFF;
  position: absolute;
  width: 55px;
  height: 16px;
  top: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(143, 143, 143, 0.48);
  }
}



.navbar .p-del{
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}
.navbar .p-del .profile_name,
.navbar .p-del .job{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: rgba(255, 255, 255, 0.7);
}
.menu-toggle:checked~.navbar{
width: auto;
}
.menu-toggle:checked ~ .navbar{
width: 0;
}


menu-toggle:checked ~ .navbar {
width: 60px;
}

.grid{
  
}

.img{
  position: absolute;
  width: 182.99px;
  height: 170.91px;
  left: 120.91px;
  top: 152.64px;
  
  background: url(image.jpg);
  border-radius: 4px;
   }
   .tm{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 126.08px;
    top: 334.17px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #FFFFFF;
   }
   .warrior{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 126.08px;
    top: 354.89px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);

   }
  .btn{
    position: absolute;
    width: 82.86px;
    height: 25.89px;
    left: 216px;
    top: 370px;
    
    background: #2199C1;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
  }
  .view{
    width: 27px;
    height: 13px;
    left: 244px;
    top: 377px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }
  .sy{
    position: absolute;
width: 40px;
height: 30px;
left: 259px;
top: 311px;

background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
  }    
  .hours{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 259px;
    top: 311px;
    
    background: #070707;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
    border-radius: 7px;
    box-sizing: border-box;

    position: absolute;
    width: 34px;
    height: 24px;
    left: 262px;
    top: 314px;
    
    background: #070707;
    border: 0.3px solid #29A4A6;
    border-radius: 7px;
  }
  .hs{
    width: 21px;
    height: 12px;
    left: 269px;
    top: 320px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .star{
    position: absolute;
    width: 13.81px;
    height: 14.67px;
    left: 126.08px;
    top: 374.14px;
    
    background: #FFB53B;
  }
  .num{
width: 25px;
height: 15px;
left: 142.48px;
top: 375px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 139.19%;
/* or 15px */


color: #FFFFFF;
  }
  .rec{
    position: absolute;
    width: 196.8px;
    height: 196.8px;
    left: 114px;
    top: 213.06px;
    
    background: rgba(19, 26, 37, 0.85);
    border-radius: 4px;
  }
  .gm{
    position: absolute;
    width: 184px;
    height: 28px;
    left: 114px;
    top: 102px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    
    color: #0a0a0a;
  }

  .tm1{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 333.08px;
    top: 334.17px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
   }
   .warrior1{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 333.08px;
    top: 354.89px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);
    

   }
  .btn1{
position: absolute;
width: 82.86px;
height: 25.89px;
left: 423px;
top: 370px;

background: #2199C1;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
border-radius: 32px;

  }
  .view1{
    width: 27px;
    height: 13px;
    left: 451px;
    top: 377px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }
  .sy1{
width: 40px;
height: 30px;
left: 259px;
top: 311px;

background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
  }    
  .hours1{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 466px;
    top: 311px;
    
    background: #070707;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
    border-radius: 7px;
    box-sizing: border-box;

    position: absolute;
    width: 34px;
    height: 24px;
    left: 469px;
    top: 314px;
    
    background: #070707;
    border: 0.3px solid #29A4A6;
    border-radius: 7px;
  }
  .hs1{
    width: 21px;
    height: 12px;
    left: 269px;
    top: 320px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .star1{
    position: absolute;
    width: 13.81px;
    height: 14.67px;
    left: 333.08px;
    top: 374.14px;
    
    background: #FFB53B;
    
  }
  .rec1{

    position: absolute;
    width: 196.8px;
    height: 196.8px;
    left: 321px;
    top: 213.06px;
    
    background: rgba(19, 26, 37, 0.85);
    border-radius: 4px;
  } 
  .img1{
    position: absolute;
    width: 182.99px;
    height: 170.91px;
    left: 327.91px;
    top: 152.64px;
    
    background: url(R.jpg);
    border-radius: 4px;

  }

  
  .tm2{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 541.08px;
    top: 334.17px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
   }
   .warrior2{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 541.08px;
    top: 354.89px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);
   }
  .btn2{
    position: absolute;
    width: 82.86px;
    height: 25.89px;
    left: 631px;
    top: 370px;
    
    background: #2199C1;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 32px;

  }
  .view2{
    width: 27px;
    height: 13px;
    left: 659px;
    top: 377px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }
  .sy1{
width: 40px;
height: 30px;
left: 259px;
top: 311px;

background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
  }    
  .hours2{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 674px;
    top: 311px;
    
    background: #070707;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
    border-radius: 7px;
    position: absolute;
    width: 34px;
    height: 24px;
    left: 677px;
    top: 314px;
    
    background: #070707;
    border: 0.3px solid #29A4A6;
    border-radius: 7px;
  }
  .hs2{
    width: 21px;
    height: 12px;
    left: 269px;
    top: 320px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .star2{
    position: absolute;
    width: 13.81px;
    height: 14.67px;
    left: 541.08px;
    top: 374.14px;
    
    background: #FFB53B;
    
  }
  .rec2{

    position: absolute;
    width: 196.8px;
    height: 196.8px;
    left: 529px;
    top: 213.06px;
    
    background: rgba(19, 26, 37, 0.85);
    border-radius: 4px;
  } 
  .img2{
    position: absolute;
width: 182.99px;
height: 170.91px;
left: 535.91px;
top: 152.64px;

background: url(image.jpg);
border-radius: 4px

  }

  
  .tm3{
    position: absolute;
width: 122px;
height: 16px;
left: 749.08px;
top: 334.17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;

color: #FFFFFF;
   }
   .warrior3{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 749.08px;
    top: 354.89px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);
   }
  .btn3{
  
position: absolute;
width: 82.86px;
height: 25.89px;
left: 839px;
top: 370px;

background: #2199C1;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
border-radius: 32px;
  }
  .view3{
width: 27px;
height: 13px;
left: 867px;
top: 377px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #FFFFFF;
  }
  .sy1{
width: 40px;
height: 30px;
left: 259px;
top: 311px;

background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
  }    
  .hours3{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 1090px;
    top: 310.86px;
    
    background: #070707;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
    border-radius: 7px; box-sizing: border-box;

    position: absolute;
    width: 34px;
    height: 24px;
    left: 885px;
    top: 314px;
    
    background: #070707;
    border: 0.3px solid #29A4A6;
    border-radius: 7px;
    

  }
  .hs3{
width: 21px;
height: 12px;
left: 892px;
top: 320px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
  }

  .star3{
    position: absolute;
    width: 13.81px;
    height: 14.67px;
    left: 749.08px;
    top: 374.14px;
    
    background: #FFB53B;
    
  }
  .rec3{
    position: absolute;
    width: 196.8px;
    height: 196.8px;
    left: 737px;
    top: 213.06px;
    
    background: rgba(19, 26, 37, 0.85);
    border-radius: 4px;
  } 
  .img3{
    position: absolute;
    width: 182.99px;
    height: 170.91px;
    left: 743.91px;
    top: 152.64px;
    
    background: url(image.jpg);
    border-radius: 4px;

  }

    
  .tm4{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 957.08px;
    top: 334.03px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #FFFFFF;
   }
   .warrior4{
    position: absolute;
    width: 48px;
    height: 13px;
    left: 957.08px;
    top: 354.75px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);
   }
  .btn4{
    position: absolute;
    width: 82.86px;
    height: 25.89px;
    left: 1047px;
    top: 369.86px;
    
    background: #2199C1;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
  }
  .view4{
    width: 27px;
    height: 13px;
    left: 1075px;
    top: 376.86px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }
  .sy1{
width: 40px;
height: 30px;
left: 259px;
top: 311px;

background: #070707;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
border-radius: 7px;
  }    
  .hours4{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 1090px;
    top: 310.86px;
    
    background: #070707;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
    border-radius: 7px;

    box-sizing: border-box;

    position: absolute;
    width: 34px;
    height: 24px;
    left: 1093px;
    top: 313.86px;
    
    background: #070707;
    border: 0.3px solid #29A4A6;
    border-radius: 7px;
    

  }
  .hs4{
    width: 21px;
    height: 12px;
    left: 1100px;
    top: 319.86px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
  }

  .star4{
    position: absolute;
    width: 13.81px;
    height: 14.67px;
    left: 957.08px;
    top: 373.99px;
    
    background: #FFB53B;
    
  }
  .rec4{
    position: absolute;
    width: 196.8px;
    height: 196.8px;
    left: 945px;
    top: 212.92px;
    
    background: rgba(19, 26, 37, 0.85);
    border-radius: 4px;
  } 
  .img4{
    position: absolute;
    width: 182.99px;
    height: 170.91px;
    left: 951.91px;
    top: 152.49px;
    
    background: url(image.jpg);
    border-radius: 4px;

  }
 
  .local{
    position: absolute;
width: 265px;
height: 951px;
left: 1162px;
top: 73px;

background: rgba(14, 13, 13, 0.22);
  }

  .lb{
    position: absolute;
    width: 158px;
    height: 23px;
    left: 1183px;
    top: 102px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    
    color: #0c0b0b;
  }
  .viewall{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 1367px;
    top: 106px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    
    color: #2B98A1;
    
  }
  .coffday{
    position: absolute;
width: 58px;
height: 15px;
left: 1266px;
top: 156px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-transform: capitalize;

color: #FFFFFF;
  }
  .num{
    position: absolute;
    width: 56px;
    height: 12px;
    left: 1281px;
    top: 179px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.47);
    

  }
  .country{
    position: absolute;
width: 73px;
height: 12px;
left: 1281px;
top: 198px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);

  }
  .cof{
    position: absolute;
width: 63px;
height: 61px;
left: 1192px;
top: 153px;

background: url(image.jpg);
border-radius: 4px;
  }
  .cof1{
    position: absolute;
width: 63px;
height: 61px;
left: 1192px;
top: 240px;

background: url(R.jpg);
border-radius: 4px;
  }
  .coffday1{
    position: absolute;
width: 27px;
height: 15px;
left: 1266px;
top: 243px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-transform: capitalize;

color: #FFFFFF;
  }
  .num1{
    position: absolute;
width: 56px;
height: 12px;
left: 1281px;
top: 266px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
  }
.country1{
  position: absolute;
width: 73px;
height: 12px;
left: 1281px;
top: 285px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
  
.cof2{
  position: absolute;
width: 63px;
height: 61px;
left: 1192px;
top: 327px;

background: url(image.jpg);
border-radius: 4px;
}
.coffday2{
  position: absolute;
  width: 40px;
  height: 15px;
  left: 1266px;
  top: 330px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  text-transform: capitalize;
  
  color: #FFFFFF;
}
.num2{
  position: absolute;
width: 56px;
height: 12px;
left: 1281px;
top: 353px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.country2{
  position: absolute;
width: 73px;
height: 12px;
left: 1281px;
top: 372px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.cof3{
  
position: absolute;
width: 63px;
height: 61px;
left: 1192px;
top: 414px;

background: url(bg.jpg);
border-radius: 4px;
}
.coffday3{
  position: absolute;
width: 65px;
height: 15px;
left: 1266px;
top: 417px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-transform: capitalize;

color: #FFFFFF;
}
.num{
  position: absolute;
width: 56px;
height: 12px;
left: 1281px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.country{
  position: absolute;
width: 73px;
height: 12px;
left: 1281px;
top: 459px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.cof4{
  position: absolute;
width: 63px;
height: 61px;
left: 1192px;
top: 501px;

background: url(R.jpg);
border-radius: 4px;
}
.coffday4{
  position: absolute;
width: 58px;
height: 15px;
left: 1266px;
top: 504px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-transform: capitalize;

color: #FFFFFF;

}
.num4{
  position: absolute;
width: 56px;
height: 12px;
left: 1281px;
top: 527px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.country4{
  position: absolute;
width: 73px;
height: 12px;
left: 1281px;
top: 546px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);

}
.squre{
  position: absolute;
width: 236px;
height: 404px;
left: 1183px;
top: 597px;

background: #FFFFFF;
border-radius: 4px
}