@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
 
}
body{
   width: 100%;
   height: 100%;
     background: #363549;
 
}
.background{
   
}
.wrapper{
  display: flex;

}
.esimg{
     position: absolute;
width: 59px;
height: 39px;
left: 15px;
top: 20px;

}
.sidebar{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 1400px;
  width:94px;
  background-size: cover;
  z-index: 100;
  transition: all 0.5s ease;
 
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  border-radius: 0px;
  display: block;

  position: absolute;
}
.sidebar.inactive{
  width: 0px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  min-width: 94px;
  font-size: 30px;
  text-align: center;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  color: #717171;
}
.sidebar.inactive .logo-details i{
  min-width: 0px;
  font-size: 30px;
  text-align: center;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
  color: #717171;
  display: none;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  opacity: 0;
}
.sidebar.inactive .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
  width: 0px;
}
.sidebar .logo-details .toggle-menu-btn{
  color: #666;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.sidebar.inactive .logo-details .toggle-menu-btn{
  right: -50px;
}
.sidebar .nav{
  padding: 10px 0 10px 0;
  overflow: auto;
}

.sidebar .nav::-webkit-scrollbar{
  display: none;
}
.sidebar .nav li{
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav li:hover{
 background: linear-gradient(180deg, #191F2C 0%, #131221 100%);

}

.sidebar .nav li .icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.inactive .nav li .icon{
  display: block
}
.sidebar .nav li i{
  min-width: 94px;
  text-align: center;
  color: #717171;
  cursor: pointer;
  transition: all 0.3s ease;
  Width:59px;
  Height:39px;
  Top:20px;
  Left:15px;
}
.sidebar .nav li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.inactive .nav i.arrow{
  display: none;
}
.sidebar .nav li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav li a .link-name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease; 
   Width:70px;
  Height:39px;
  Top:20px;
  Left:15px;
}
.sidebar.inactive .nav li a .link-name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav li a .link-name{
  opacity: 0;
  pointer-events: none;
}

.sidebar.nav .sub-menu  .active{
  max-height: 180px;
}
.sidebar  .nav li .sub-menu a{
  width: 92px;
  left: 100px;
  top: 99px;
  font-weight: 400;
  line-height: 42px;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
  color:#FFFFFF;
  font-size: 15px;
  padding: 10px 10px 0px 0px; 
  white-space: nowrap;
  transition: all 0.3s ease;
  font-family: 'Roboto';
}
.sidebar .nav li .sub-menu a:hover{
  opacity: 1;
  
}
.sidebar .nav li .sub-menu{
  opacity:0;
  display: block;
  pointer-events: none;
  position: absolute;
  width: 234px;
  height: 951px;
  left: 94px;
  top: 73px;
  
  background: #333A48;
}


.sidebar .nav li:hover .sub-menu{
  top: 72px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav li:hover .submenu{
  top: 72px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar.inactive .nav li:hover .sub-menu{
  top: 72px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav li .sub-menu .link-name{
  display: none;
}
.sidebar.inactive .nav li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
}
.sidebar .nav li .sub-menu .link-name{
  font-size: 18px;
  opacity: 1;
}
.sidebar .nav li .submenu{
  pointer-events: auto;
  padding: 10px 20px 6px 85px;
  pointer-events: none;
  position: absolute;
  top: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 298.19%;
  text-transform: capitalize;
  color: #FFFFFF;

  

}
.sidebar .nav li:hover .submenu{
  top: 70px;
}
.sidebar .p-del{
  position: fixed;
  bottom: 0;
  width:94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.inactive .p-del{
  background: none;
}
.sidebar .p-del{
  background: none;
}
.sidebar.inactive .p-del{
  width: 94px;
}
.sidebar .p-del{
  width: 94px;
}
.sidebar .p-del .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .p-del img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 25px;
  background: linear-gradient(180deg, #191F2C 0%, #131221 100%);
  transition: all 0.5s ease;
  left: 28px;
  top: 948px;
  text-align: center;
  cursor: pointer;
}
.sidebar.inactive .p-del img{
  padding: 10px;
  display: none;
}
.sidebar .p-del img{
  padding: 10px;
}
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.inactive .p-del i,
.sidebar.inactive .p-del .profile_name,
.sidebar.inactive .p-del .job{
  display: none;
}
.sidebar.p-del i,
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  display: none;
}
.sidebar .p-del i,
.sidebar .p-del .profile_name,
.sidebar .p-del .job{
  display: none;
}
.sidebar .p-del .job{
  font-size: 12px;
}





@media (max-width: 400px) {

  .sidebar.inactive.small-screen{
    width: 0;
  }

  .sidebar.inactive.small-screen ~ .Container{
    width: 100%;
    left: 0;
    z-index: 100;
  }
  .left{
    margin-left: 94px;
    margin-top: -30px;
    padding-top: 0px;
    cursor: pointer;
    
  }
}
.Container{
  margin-left:94px;
  transition: margin-left .2s ease-in;
  padding: 0px;
  box-sizing: border-box;
}
.Container.inactive{
  margin-left: 0px;
}

.left{
  margin-left: 94px;
  margin-top: -30px;
  padding-top: 0px;
  cursor: pointer;
  
}

.left .inactive{
  margin-left: 0px;
  padding-left: 0px;
}


.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100%;
  left: 200px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 100px;
  width: calc(100% - 100px);
}

.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #1a191b;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

/*navbar*/


  .navbar{
	height: 73px;
	display: flex;
	font-size: 14px; 
	transition: width .2s ease-in;
	align-items: center;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 0px;
	background: #2A3240;
  margin-left: 94px;
  width: 1440px;
  position: absolute;
  } 
		.navbar.inactive {
			margin-left: 0px;
			margin-left: -6rem;
			-webkit-transition: margin 0.25s ease-out;
			-moz-transition: margin 0.25s ease-out;
			-o-transition: margin 0.25s ease-out;
			transition: margin 0.25s ease-out;
} 

  .items{
	display: flex;
	align-items: center;
	}
  .item{
	display: flex;
	margin-right: 10px;
	align-items: center;
	position: relative;
	cursor: pointer;
	font-style: 20px;
	color:#726761;
  }
  .items .item{
	color:#726761;
	cursor: pointer;
	width: 24px;
	height: 24px;
	top: px;
	justify-content: space-between;
	left: 60px;
	line-height: 14px;
	gap: 10px;
    }

  .profile_name {
		width: 62px;
		height: 14px;
		left: 1311px;
		top: 21px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
/* identical to box height */
text-transform: capitalize;
color: #FFFFFF;
  }
.mail{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.7);
}

.avatar{
border-radius: 16px;
width: 37.94px;
left: 1260.41px;
top: 17.53px;
}
 .counter{
border-radius: 50%;
box-sizing: border-box;
position: absolute;
left: 59.09%;
right: 9.09%;
top: 0%;
bottom: 68.18%;
background: #E64547;
border: 1px solid #2A3240;
}
.search-controller{
  color: #fff;
  position: relative;
  }
.search-controller .search-btn{
width: 30px;
height: 40px;
position: absolute;
background: transparent;
border: 0;
font-size: 20px;
position: absolute;
margin-left: 0px;
color:#FFFFFF;
position: absolute;
width: 55px;
height: 16px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: rgba(143, 143, 143, 0.48);
}
.search-controller input[type=text]{
border: 0;
display: block;
margin: 2px 0;
padding-left: 100px;
height: 41px;
width: 915px;
left: 114px;
top: 1px;
border-radius: 4px;
background: rgba(255, 255, 255, 0.04);
box-sizing: border-box;
}
@media all and (max-width:1100px){
.navbar{
  flex-direction: column;
  flex-wrap: wrap;
 }
.navbar .items{
  display: block;
  padding: 10px 0px;
}
.item{
  text-align: center;
  padding: 0;
  display: none;
}
.navbar-nav{
  display: none;
}
.navbar-nav-mobile{
  position: absolute;
  display: block;
  list-style: none;
  background-color: #db2b39;
  left: 0;
  top: 75px;
  transition: all 0.5s ease-out;
  width: 100%;
}
.search-controller{
  align-self: flex-start;
  margin: 0px 0px 0px 0px;
}
.menu{
  display: block;
  position: absolute;
  right: 20px;
  top: 1px;
}
.showmenu{
  display: block;
}
.search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 30px;
  color: #fff;
  border-radius: 05px;
  display: block;
  margin: 10px 0;
  width:100%;
  box-sizing: border-box;
  padding-left: 100px;
}
.search-controller .search-btn{
  width: 10px;
  height: 55px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  margin-left: 0px;
  color:#FFFFFF;
  position: absolute;
  width: 55px;
  height: 16px;
  top: 18px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(143, 143, 143, 0.48);
  }
}



.navbar .p-del{
position: fixed;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}
.navbar .p-del .profile_name,
.navbar .p-del .job{
width: 79px;
height: 12px;
left: 1311px;
top: 41px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: rgba(255, 255, 255, 0.7);
}
.menu-toggle:checked~.navbar{
width: auto;
}
.menu-toggle:checked ~ .navbar{
width: 0;
}


menu-toggle:checked ~ .navbar {
width: 60px;
}

/*****gaming service***/
body{
    
}
 .GamingServices{
     position: absolute;
     width: 184px;
     height: 28px;
     left: 114px;
     top: 102px;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 800;
     font-size: 24px;
     line-height: 28px;
     color: #FFFFFF;
}

.card-title{
    
     width: 122px !important;
     height: 16px !important;
     left: 126.08px !important;
     top: 334.17px !important;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     text-transform: capitalize;
     
     color: #FFFFFF;
     transform: translateY(10px);

     
}
.card-text{
   
     width: 48px;
     height: 13px;
     left: 126.08px;
   
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 10px;
     line-height: 10px;
     
  transform: translateY(10px);
     
     
     color: rgba(255, 255, 255, 0.47);
}



.card-game {
  position: relative;
  width: 196.8px;
  height: 196.8px;
  border-radius: 4px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 0px 6px;
  cursor: pointer;
  margin-top: 152px;
  left:114px;


background: rgba(19, 26, 37, 0.85);
}



.imgbox {
  position: relative;
  width: 182.99px;
  height: 170.91px;
  transform: translateY(-60px);
  }

.imgg {
     width: 182.99px;
     height: 170.91px;
     border-radius: 4px;
     box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}



/******LocalBusinesses****/
.grid{
     position: relative;
     width: 274px;
     height: 951px;
     left: 80px !important;
     top: 25px !important;
     
     background: rgba(0, 0, 0, 0.22);
     }
.LocalBusinesses{
     position: relative;
     width: 158px;
     height: 23px;
     left: 4px;
     top: 0px;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 800;
     font-size: 20px;
     line-height: 23px;
     
     color: #FFFFFF;
}
.btn{
     position: absolute;
     width: 82.86px !important;
     height: 25.89px !important;
     left: 100px !important;
     top: 160px !important;
     align-items: center !important;
     
     background: #2199C1;
     box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
     border-radius: 32px;

     position: absolute;
width: 27px;
height: 13px;
left: 244px;
top: 377px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #FFFFFF;
}


*:hover{
     -webkit-transition: all 1s ease;
     transition: all 1s ease;
 }
.viewlink{
     position: relative;
width: 47px;
height: 15px;
left: 180px;
top: -30px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;

color: #2B98A1;

}
.lbusiness{
     padding: 10px;
     top:110px !important;
}
.lbc{
position: relative;
width: 236px;
height: 80px;
left: 11px;
top: px;

background: rgba(0, 0, 0, 0.41);
border-radius: 4px;
padding: 15px;
line-height: 15px;
}
.location{
     position: absolute;
     width: 12px;
     height: 13px;
     left: 110px;
     top: 49px;

width: 73px;
height: 12px;
left: 110px;
top: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);

}
.telephone{
     position: absolute;
width: 12px;
height: 13px;
left: 110px;
top: 17px;

width: 56px;
height: 12px;
left:110px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 12px;
/* identical to box height */


color: rgba(255, 255, 255, 0.47);
}
.card-body .card-title{
     margin-left: 60px;
}
.lbblank{
left: 4.83%;
right: 3.61%;
top: 23.8%;
bottom: 34.31%;
width: 250px;
opacity: 0.77;
transform: matrix(-1, 0, 0, 1, 0, 0);

position: relative;
width: 236px;
height: 404px;
left: px;
top: 20px;

background: #FFFFFF;
border-radius: 4px;
}


 .card-title{
     width: 58px ;
     height: 15px !important;
     left: 1266px !important;
     top: 156px !important;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600 !important;
     font-size: 13px !important;
     line-height: 15px !important;
     text-transform: capitalize;
     
     color: #FFFFFF;
 }

.card-hours{
     position: relative;
width: 40px !important;
height: 30px !important;
left: 120px !important;
top: -100px !important;

background: #070707 !important;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76) !important;
border-radius: 7px !important;
color: #FFFFFF !important;


font-family: 'Roboto' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 10px !important;
line-height: 12px !important;
/* identical to box height */

text-align: center !important;

color: #FFFFFF !important;

box-sizing: border-box !important;

position: relative;
width: 34px !important;
height: 24px !important;
left: 112px !important;

background: #070707 !important;
border: 0.3px solid #29A4A6 !important;
border-radius: 7px!important;
}
.star{
width: 13.81px;
height: 14.67px;
left: 126.08px;
top: 374.14px;

color: #FFB53B;

width: 11.22px;
height: 11.22px;
left: 126.08px;
top: 375.86px;

}
.rate{
width: 25px;
height: 15px;
left: 142.48px;
top: 375px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 139.19%;
/* or 15px */


color: #FFFFFF;
}

/*****TrendingTournaments****/

.tournaments{
     position: relative;
     width: 245px;
     height: 28px;
     top:25px;     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 800;
     font-size: 24px;
     line-height: 28px;
     
     color: #FFFFFF;
}
.link{
width: 47px;
height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;

color: #2B98A1;
}
.card-tournaments{
width: 500px;
height: 55px;
left: 114px;
top: 482px;

background: rgba(19, 26, 37, 0.63);
border-radius: 4px;
}
.tournaments-body{

}


/******TrendingOrganisers****/
.TrendingOrganisers{
width: 222px;
height: 28px;
left: 642px !important;
top: 435px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}



/*****Sponsors*****/
.Sponsors{
width: 103px;
height: 28px;
left: 357px;
top: 102px !important;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.active{
width: 106px;
height: 14px;
left: 378px;
top: 169px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 14px;
/* identical to box height */

text-transform: uppercase;

color: rgba(255, 255, 255, 0.62);
}
.past{
width: 95px;
height: 14px;
left: 533px;
top: 167px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-transform: uppercase;

color: rgba(255, 255, 255, 0.62);
}
.hr{
width: 1050px;
height: 1px;
left: 357px;
top: 196px;

background: #434654;
transform: matrix(1, 0, 0, -1, 0, 0);
}
.Displaybanner{
     width: 94px;
     height: 32px;
     left: 372.08px;
     top: 350px;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     text-transform: capitalize;
     
     color: #FFFFFF;
}
.dollar{


}
.cal{
     width: 62px;
     height: 9px;
     left: 388px;
     top: 392px;
     
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     font-size: 8px;
     line-height: 9px;
     
     color: rgba(255, 255, 255, 0.47);
}
.card-text-brand{
width: 161px;
height: 27px;
left: 372.08px;
top: 409px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 8px;
line-height: 9px;

color: rgba(255, 255, 255, 0.47);
}
.card-brand{
width: 197px;
height: 219px;
left: 360px;
margin-top: 61px;

background: rgba(19, 26, 37, 0.85);
border-radius: 4px;
}
.img-brand{
width: 183px;
height: 112px;
margin-left: 3px;
top: 227px !important;

border-radius: 4px;
transform: translateY(-30px);

border-radius: 4px;
}
.view{
box-sizing: border-box;

width: 82.86px;
height: 25.89px;
left: 464px;
top: 467px;

border: 1px solid #2199C1;
border-radius: 32px;
}
.signincart{
     position: relative;
width: 82.86px !important;
height: 25.89px !important;
margin-left: -110px;
margin-top:-300px;

background: #2199C1;
border-radius: 32px;

width: 57px;
height: 11px;


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 11px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
.signinview{
     box-sizing: border-box;

     position: relative;
     width: 82.86px;
     height: 25.89px;
     margin-left: 22px;
     margin-top:-300px;
     
     border: 1px solid #2199C1;
     border-radius: 32px;


}
.ml{
     position: relative;
     width: 390px;
height: 41px;
left: 1014px;
top: 130px;

background: rgba(255, 255, 255, 0.04);
border-radius: 4px;
}
.eam{
position: absolute;
width: 73px;
height: 28px;
left: 357px;
top: 102px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

/*****overview****/
.overview{
     position: absolute;
width: 92px;
height: 26px;
left: 114px;
top: 96px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
display: flex;
}
.feed{
width: 319px;
height: 26px;
left: 114px;
top: 270px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}
.ParticipatingTournaments{
width: 264px;
height: 26px;
left: 638px;
top: 270px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}
.SponsorPerks{
width: 258px;
height: 26px;
left: 114px;
top: 445px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}
.UnlockBadges{
width: 303px;
height: 26px;
left: 638px;
top: 445px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;

}
.brand-text{
width: 121px;
height: 21px;
left: 123.32px;
top: 614.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 6px;
line-height: 7px;

color: rgba(255, 255, 255, 0.47);

}
.form-range{
background: rgba(255, 255, 255, 0.09);
border-radius: 4px;
}
.dollar{
box-sizing: border-box;

width: 26.23px;
height: 18.51px;
margin-left:96px !important;
margin-top: -45px;

background: #070707;
border: 0.3px solid #29A4A6;
border-radius: 4px;

left: 232.03px;
top: 577.6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 7px;
line-height: 8px;
text-align: center;

color: #FFFFFF;
}
.SuggestedBusinesses{
width: 226px;
height: 26px;
left: 114px;
top: 711px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}
.RecommendedOrganisers{
width: 264px;
height: 26px;
left: 114px;
top: 867px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}